* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v17_28676 {
    width: 375px;
    height: 812px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28677 {
    width: 375px;
    height: 812px;
    background: url("../images/v17_28677.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28678 {
    width: 357px;
    height: 43px;
    background: url("../images/v17_28678.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 16px;
    overflow: hidden;
  }
  .v17_28679 {
    width: 340px;
    height: 43px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.029999999329447746);
    overflow: hidden;
  }
  .v17_28680 {
    width: 314px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 13px;
    left: 43px;
    font-family: Arial;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v17_28681 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 307px;
    overflow: hidden;
  }
  .v17_28682 {
    width: 13px;
    height: 11px;
    background: url("../images/v17_28682.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 4px;
    overflow: hidden;
  }
  .v17_28683 {
    width: 13px;
    height: 11px;
    background: url("../images/v17_28683.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28684 {
    width: 13px;
    height: 11px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28685 {
    width: 6px;
    height: 12px;
    background: url("../images/v17_28685.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 7px;
    overflow: hidden;
  }
  .v17_28686 {
    width: 6px;
    height: 12px;
    background: url("../images/v17_28686.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28687 {
    width: 6px;
    height: 12px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28688 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 12px;
    overflow: hidden;
  }
  .v17_28689 {
    width: 17px;
    height: 20px;
    background: url("../images/v17_28689.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28690 {
    width: 17px;
    height: 20px;
    background: url("../images/v17_28690.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28691 {
    width: 17px;
    height: 20px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28692 {
    width: 5px;
    height: 5px;
    background: url("../images/v17_28692.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 8px;
    overflow: hidden;
  }
  .v17_28693 {
    width: 5px;
    height: 5px;
    background: url("../images/v17_28693.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28694 {
    width: 5px;
    height: 5px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28695 {
    width: 84px;
    height: 13px;
    background: url("../images/v17_28695.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 457px;
    left: 148px;
    overflow: hidden;
  }
  .v17_28696 {
    width: 13px;
    height: 13px;
    background: rgba(196,196,196,0);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28697 {
    width: 12px;
    height: 12px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 18px;
    border-radius: 50%;
  }
  .v17_28698 {
    width: 12px;
    height: 12px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 36px;
    border-radius: 50%;
  }
  .v17_28699 {
    width: 12px;
    height: 12px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 54px;
    border-radius: 50%;
  }
  .v17_28700 {
    width: 12px;
    height: 12px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 72px;
    border-radius: 50%;
  }
  .v17_28701 {
    width: 50px;
    height: 50px;
    background: url("../images/v17_28701.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 332px;
    left: 316px;
    overflow: hidden;
  }
  .v17_28702 {
    width: 50px;
    height: 50px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28703 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 15px;
    overflow: hidden;
  }
  .v17_28704 {
    width: 19px;
    height: 20px;
    background: url("../images/v17_28704.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 1px;
    overflow: hidden;
  }
  .v17_28705 {
    width: 19px;
    height: 20px;
    background: url("../images/v17_28705.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28706 {
    width: 19px;
    height: 20px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28707 {
    width: 375px;
    height: 649px;
    background: url("../images/v17_28707.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 131px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28708 {
    width: 375px;
    height: 649px;
    background: rgba(249,249,249,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v17_28709 {
    width: 359px;
    height: 46px;
    background: rgba(232,229,249,0);
    opacity: 1;
    position: absolute;
    top: 122px;
    left: 7px;
    overflow: hidden;
  }
  .v17_28710 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28710.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 129px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28711 {
    width: 53px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28712 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28713 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28713.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28714 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28715 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28716 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28716.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28717 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28717.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28718 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28719 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28719.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 183px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28720 {
    width: 87px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28721 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28722 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28722.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28723 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28724 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28725 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28725.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28726 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28726.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28727 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28728 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28728.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 237px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28729 {
    width: 112px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28730 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28731 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28731.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28732 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28733 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28734 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28734.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28735 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28735.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28736 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28737 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28737.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 291px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28738 {
    width: 110px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28739 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28740 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28740.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28741 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28742 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28743 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28743.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28744 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28744.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28745 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28746 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28746.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 338px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28747 {
    width: 26px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28748 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28749 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28749.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28750 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28751 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28752 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28752.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28753 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28753.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28754 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28755 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28755.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 385px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28756 {
    width: 79px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28757 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28758 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28758.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28759 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28760 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28761 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28761.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28762 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28762.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28763 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28764 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28764.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 432px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28765 {
    width: 103px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28766 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28767 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28767.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28768 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28769 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28770 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28770.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28771 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28771.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28772 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28773 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28773.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 479px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28774 {
    width: 57px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28775 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28776 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28776.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28777 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28778 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28779 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28779.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28780 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28780.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28781 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28782 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28782.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 526px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28783 {
    width: 56px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28784 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28785 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28785.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28786 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28787 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28788 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28788.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28789 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28789.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28790 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28791 {
    width: 338px;
    height: 32px;
    background: url("../images/v17_28791.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 573px;
    left: 22px;
    overflow: hidden;
  }
  .v17_28792 {
    width: 59px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28793 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 0px;
    font-family: Arial;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28794 {
    width: 15px;
    height: 15px;
    background: url("../images/v17_28794.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 323px;
    overflow: hidden;
  }
  .v17_28795 {
    width: 15px;
    height: 15px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v17_28796 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28797 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28797.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28798 {
    width: 6px;
    height: 10px;
    background: url("../images/v17_28798.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28799 {
    width: 6px;
    height: 10px;
    background: rgba(253,253,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28800 {
    width: 359px;
    height: 35px;
    background: url("../images/v17_28800.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 67px;
    left: 7px;
    overflow: hidden;
  }
  .v17_28801 {
    width: 359px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
  }
  .v17_28802 {
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 7px;
    overflow: hidden;
  }
  .v17_28803 {
    width: 7px;
    height: 7px;
    background: url("../images/v17_28803.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28804 {
    width: 7px;
    height: 7px;
    background: url("../images/v17_28804.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28805 {
    width: 7px;
    height: 7px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28806 {
    width: 0px;
    height: 0px;
    background: url("../images/v17_28806.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 2px;
    overflow: hidden;
  }
  .v17_28807 {
    width: 0px;
    height: 0px;
    background: url("../images/v17_28807.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28808 {
    width: 0px;
    height: 0px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28809 {
    width: 12px;
    height: 11px;
    background: url("../images/v17_28809.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28810 {
    width: 12px;
    height: 11px;
    background: url("../images/v17_28810.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28811 {
    width: 12px;
    height: 11px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28812 {
    width: 1px;
    height: 2px;
    background: url("../images/v17_28812.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 6px;
    overflow: hidden;
  }
  .v17_28813 {
    width: 1px;
    height: 2px;
    background: url("../images/v17_28813.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28814 {
    width: 1px;
    height: 2px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28815 {
    width: 0px;
    height: 0px;
    background: url("../images/v17_28815.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 5px;
    overflow: hidden;
  }
  .v17_28816 {
    width: 0px;
    height: 0px;
    background: url("../images/v17_28816.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28817 {
    width: 0px;
    height: 0px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28818 {
    width: 80px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 27px;
    font-family: Arial;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v17_28819 {
    width: 241px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 9px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v17_28820 {
    width: 59px;
    height: 10px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 158px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v17_28821 {
    width: 375px;
    height: 68px;
    background: url("../images/v17_28821.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 744px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28822 {
    width: 375px;
    height: 68px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden;
  }
  .v17_28823 {
    width: 52px;
    height: 51px;
    background: url("../images/v17_28823.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 16px;
    overflow: hidden;
  }
  .v17_28824 {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 11px;
    overflow: hidden;
  }
  .v17_28825 {
    width: 25px;
    height: 29px;
    background: url("../images/v17_28825.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28826 {
    width: 25px;
    height: 29px;
    background: url("../images/v17_28826.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28827 {
    width: 25px;
    height: 29px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28828 {
    width: 11px;
    height: 11px;
    background: url("../images/v17_28828.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 10px;
    overflow: hidden;
  }
  .v17_28829 {
    width: 11px;
    height: 11px;
    background: url("../images/v17_28829.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28830 {
    width: 11px;
    height: 11px;
    background: rgba(79,58,228,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28831 {
    width: 52px;
    color: rgba(79,58,228,1);
    position: absolute;
    top: 35px;
    left: 0px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v17_28832 {
    width: 58px;
    height: 51px;
    background: url("../images/v17_28832.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 119px;
    overflow: hidden;
  }
  .v17_28833 {
    width: 58px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 0px;
    font-family: Arial;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v17_28834 {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 14px;
    overflow: hidden;
  }
  .v17_28835 {
    width: 23px;
    height: 29px;
    background: url("../images/v17_28835.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 4px;
    overflow: hidden;
  }
  .v17_28836 {
    width: 12px;
    height: 11px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 6px;
  }
  .v17_28837 {
    width: 23px;
    height: 29px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28838 {
    width: 36px;
    height: 51px;
    background: url("../images/v17_28838.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 228px;
    overflow: hidden;
  }
  .v17_28839 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 0px;
    font-family: Arial;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v17_28840 {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 3px;
    overflow: hidden;
  }
  .v17_28841 {
    width: 6px;
    height: 12px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 23px;
  }
  .v17_28842 {
    width: 6px;
    height: 12px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 2px;
  }
  .v17_28843 {
    width: 9px;
    height: 5px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 11px;
  }
  .v17_28844 {
    width: 25px;
    height: 22px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .v17_28845 {
    width: 1px;
    height: 5px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 15px;
  }
  .v17_28846 {
    width: 51px;
    height: 51px;
    background: url("../images/v17_28846.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 315px;
    overflow: hidden;
  }
  .v17_28847 {
    width: 51px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 0px;
    font-family: Arial;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v17_28848 {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 11px;
    overflow: hidden;
  }
  .v17_28849 {
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28850 {
    width: 13px;
    height: 13px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 9px;
  }
  .v17_28851 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 191px;
    left: 331px;
    overflow: hidden;
  }
  .v17_28852 {
    width: 13px;
    height: 11px;
    background: url("../images/v17_28852.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 4px;
    overflow: hidden;
  }
  .v17_28853 {
    width: 13px;
    height: 11px;
    background: url("../images/v17_28853.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28854 {
    width: 13px;
    height: 11px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v17_28855 {
    width: 6px;
    height: 12px;
    background: url("../images/v17_28855.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 7px;
    overflow: hidden;
  }
  .v17_28856 {
    width: 6px;
    height: 12px;
    background: url("../images/v17_28856.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_28857 {
    width: 6px;
    height: 12px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }